isploadtest/wsdls/ISP_CmsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://rtsisp01.riits.net/ISP/services/ISP_CmsService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://rtsisp01.riits.net/ISP/services/ISP_CmsService" xmlns:intf="http://rtsisp01.riits.net/ISP/services/ISP_CmsService" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <message name="refreshUsersResponse">
  </message>
  <message name="initializeRequest">
    <part name="agencyName" type="xsd:string"/>
    <part name="serviceName" type="xsd:string"/>
    <part name="configFile" type="xsd:string"/>
  </message>
  <message name="refreshUsersRequest">
    <part name="usr" type="xsd:string"/>
    <part name="pwd" type="xsd:string"/>
    <part name="agency" type="xsd:string"/>
  </message>
  <message name="getCmsInfoRequest">
    <part name="userName" type="xsd:string"/>
    <part name="userPass" type="xsd:string"/>
    <part name="xmlMessageRequest" type="xsd:string"/>
  </message>
  <message name="initializeResponse">
  </message>
  <message name="getCmsInfoResponse">
    <part name="getCmsInfoReturn" type="xsd:string"/>
  </message>
  <portType name="CmsService">
    <operation name="initialize" parameterOrder="agencyName serviceName configFile">
      <input message="impl:initializeRequest" name="initializeRequest"/>
      <output message="impl:initializeResponse" name="initializeResponse"/>
    </operation>
    <operation name="getCmsInfo" parameterOrder="userName userPass xmlMessageRequest">
      <input message="impl:getCmsInfoRequest" name="getCmsInfoRequest"/>
      <output message="impl:getCmsInfoResponse" name="getCmsInfoResponse"/>
    </operation>
    <operation name="refreshUsers" parameterOrder="usr pwd agency">
      <input message="impl:refreshUsersRequest" name="refreshUsersRequest"/>
      <output message="impl:refreshUsersResponse" name="refreshUsersResponse"/>
    </operation>
  </portType>
  <binding name="ISP_CmsServiceSoapBinding" type="impl:CmsService">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="initialize">
      <wsdlsoap:operation soapAction=""/>
      <input name="initializeRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://external.regional.services.nateng.com" use="encoded"/>
      </input>
      <output name="initializeResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://rtsisp01.riits.net/ISP/services/ISP_CmsService" use="encoded"/>
      </output>
    </operation>
    <operation name="getCmsInfo">
      <wsdlsoap:operation soapAction=""/>
      <input name="getCmsInfoRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://external.regional.services.nateng.com" use="encoded"/>
      </input>
      <output name="getCmsInfoResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://rtsisp01.riits.net/ISP/services/ISP_CmsService" use="encoded"/>
      </output>
    </operation>
    <operation name="refreshUsers">
      <wsdlsoap:operation soapAction=""/>
      <input name="refreshUsersRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://services.nateng.com" use="encoded"/>
      </input>
      <output name="refreshUsersResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://rtsisp01.riits.net/ISP/services/ISP_CmsService" use="encoded"/>
      </output>
    </operation>
  </binding>
  <service name="CmsServiceService">
    <port binding="impl:ISP_CmsServiceSoapBinding" name="ISP_CmsService">
      <wsdlsoap:address location="http://rtsisp01.riits.net/ISP/services/ISP_CmsService"/>
    </port>
  </service>
</definitions>